body {
    background-color: #050916;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #9290C3;

}
.container {
    text-align: center;
}

.text {
    color: #9290C3;
    font-family: Arial, sans-serif;
    font-weight: 300;
}
.is-hidden {
    opacity: 0;
    transform: translateY(50px);
  }
  .card-content {
    padding: 1.5rem; /* Adjust padding as needed */
  }
  @media screen and (max-width: 768px) {
    .card-content {
      padding: 0.75rem; /* Adjust padding for smaller screens */
    }
  }
  .container{
    width: 68% !important;
  }
  footer{
    padding: 1rem 1.5rem 3rem !important;

  }
  .content span{
    font-size: 12px;
  }

    /* Custom CSS for adjusting card spacing */
    .columns.is-variable {
        margin-left: -0.75rem !important; /* Adjust margin to half of the gap value */
        margin-right: -0.75rem !important; /* Adjust margin to half of the gap value */
      }
      .column.is-4 {
        padding-left: 0.75rem !important; /* Adjust padding to half of the gap value */
        padding-right: 0.75rem !important; /* Adjust padding to half of the gap value */
      }